.lightmode {
  display: none;
}

.bgc {
  display: none;
}

body {
  /*	Sparing peoples' eyes. */
  color: #000000;
  background-color: #525252;
}

.tldr {
  color: #990000;
}

/* .imgwrap, .block, .imgwrap img, .imgwrap a img */
.codewrap, .codewrap .block {
  background-color: #C0C0C0;
}

code, .codebg {
  background-color: #C0C0C0;
}

h1 {
  background-color: #DFDFDF;
}

h2.banner {
  background-color: #DFDFDF;
}

.postarea {
  background-color: #DFDFDF;
}

.postarea img {
  box-shadow: 5px 5px 4px 0px #a4a4a4;
}

.navbar a, .blerg_navright a, .blerg_navleft a, .menu_left a, .menu_right a {
  border-color: #808080;
  background-color: #dfdfdf;
}

a {
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}
