body {
  /*	Sparing peoples' eyes. */
  /*
				font-family: "Courier New", Courier, "Unifont", monospace;
				font-style: sans-serif;
 */
  font-family: "Times New Roman", FreeSerif, "Liberation Serif", Times, serif;
  font-style: serif;
  font-size: 12pt;
  background-color: #525252;
}

pre {
  font-family: "Liberation Mono", "Courier New", monospace, Courier, sans-serif;
  font-size: 11pt;
}

.block {
  padding-left: 12pt;
  background-color: #C0C0C0;
}

h1 {
  text-align: center;
  clear: both;
  background-color: #DFDFDF;
  width: 95vw;
  margin: 0 auto;
  padding: 6px;
}

h2 {
  text-align: center;
  clear: both;
  background-color: #DFDFDF;
  width: 95vw;
  margin: 0 auto;
  padding: 6px;
  margin-top:       24px;
}

h4 {
  margin: 0 auto;
}

h3 {
  text-align: left;
  margin: 0 auto;
}

.postarea {
  clear: both;
  padding:          6px;
  margin:           0 auto; /* center */
  margin-top:       24px;
  background-color: #DFDFDF;
  width:            95vw;
/*  white-space: pre-line;*/
}

.postarea img {
  margin:           0 auto;
  display:          block;
}

.postarea img.fitwide {
  margin:           0 auto;
  display:          block;
  max-width:        100%;
  max-height:       100%;
  height:           auto;
  width:            100%;
}

figure {
  margin: 0 auto;
  display: inline-block;
  width: min-content;
}

figure figcaption {
  text-align: center;
  display: block;
  margin: 0 auto;
}

imgcentercaption {
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: 16px;
}

.navbar, .blerg_navleft {
  float: left;
  background-color: #525252;
  border-color:     #0A0A0A;
  border-width:     2px;
  border-style:     solid;
}

.blerg_navright {
  float: right;
  background-color: #525252;
  border-color:     #0A0A0A;
  border-width:     2px;
  border-style:     solid;
}

.permalink {
  /* float: right; */
}

a {
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}

.navbar a, .blerg_navleft a, .blerg_navright a {
/*  background-color: #DFDFDF;*/
  padding-left:     2px;
  padding-right:    2px;
  background-color: #DFDFDF;
  border-color:     #0A0A0A;
}

ul.x1 {
  margin-left:50px;
}
li ul.x1 {
  display: list-item;
  display: inline;list-item;
  list-style-type: square;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.codebg {
  background-color: #d8d8d8; 
  display: inline;
  white-space:nowrap;
}
