.lightmode {
  display: none;
}

.navbox .navbar, .rightbox .menu_right {
  /* margin-top: 20px;*/
  margin-top: 3px;
}

.blerg_navleft, .blerg_navright, .menu_left, .menu_right {
/*  margin-left: -6px;
  margin-right: -6px;*/
  margin-left: 2px;
  margin-right: 2px;
  /*  margin-bottom: 8px;*/
  /*  margin-bottom: 1%;*/
}

.navbox {
  width: 95vw;
}

.menu_left, .blerg_navleft {
  margin-left:28px;
}

.menu_right, .blerg_navright {
  margin-right:28px;
}

.menu_left a, .blerg_navleft a, .menu_right a, .blerg_navright a{
  border-style: solid;
  /* border-left-width: 4px;
  border-right-width: 4px; */
/*  border-bottom-width: 4px;
  border-top-width: 4px;*/
  border-color: #DFDFDF;
  border-left-color: #DFDFDF;
  border-right-color: #DFDFDF;
}


.bgc {
  display: none;
}

body {
  /*	Sparing peoples' eyes. */
  color: #000000;
  background-color: #525252;
}

.emphatic {
  color: #990000;
}

/* .imgwrap, .block, .imgwrap img, .imgwrap a img */
.codewrap, .codewrap .block {
  background-color: #C0C0C0;
}

code, .codebg {
  background-color: #C0C0C0;
}

h1 {
  width: 90vw;
  background-color: #DFDFDF;
}

h2.banner {
  background-color: #DFDFDF;
}

.postarea {
  width: 90vw;
  background-color: #DFDFDF;
}

.postarea img {
  box-shadow: 5px 5px 4px 0px #a4a4a4;
}

.navbar a, .blerg_navright a, .blerg_navleft a, .menu_left a, .menu_right > a, .menu_right > span {
  border-color: #808080;
  background-color: #dfdfdf;
}

a {
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}
