.darkmode {
  display: none;
}

.blerg_navleft, .blerg_navright, .menu_left, .menu_right {
  margin-left: -6px;
  margin-right: -6px;
  /*  margin-bottom: 8px;*/
  /*  margin-bottom: 1%;*/
}

.bgc {
  display: none;
}

body {
  /*	Sparing peoples' eyes. */
  color: #dfdfdf;
  background-color: #525252;
}

.emphatic {
  color: #ff6666;
}

pre, code {
  background-color: #375180;
}

/* .imgwrap, .block, .imgwrap img, .imgwrap a img */
.codewrap, .codewrap .block {
  background-color: #375180;
}

code, .codebg {
  background-color: ##375180;
}

h1 {
  background-color: #2E384A;
}

h2.banner {
  background-color: #2E384A;
}

.postarea {
  background-color: #2E384A;
}

.postarea img {
  box-shadow: 5px 5px 4px 0px #1E2530;
}

.navbar a, .blerg_navright a, .blerg_navleft a, .menu_left a, .menu_right > a, .menu_right > span {
  border-color: #4e5c75;
  background-color: #2e384a;
}

a {
  color: #00C4C4;
}

a:visited {
  color: #00C4C4;
}
