.darkmode {
  display: none;
}

.navbox .navbar, .rightbox .menu_right {
  /* margin-top: 20px;*/
  margin-top: 3px;
}

.blerg_navleft, .blerg_navright, .menu_left, .menu_right {
/*  margin-left: -6px;
  margin-right: -6px; */
  margin-left: 2px;
  margin-right: 2px;
  /*  margin-bottom: 8px;*/
  /*  margin-bottom: 1%;*/
}

.menu_left, .blerg_navleft {
  margin-left:28px;
}

.menu_right, .blerg_navright {
  margin-right:28px;
}

.bgc {
  display: none;
}

body {
  /*	Sparing peoples' eyes. */
  color: #dfdfdf;
  background-color: #525252;
}

.emphatic {
  color: #ff6666;
}

pre, code {
  background-color: #375180;
}

/* .imgwrap, .block, .imgwrap img, .imgwrap a img */
.codewrap, .codewrap .block {
  background-color: #375180;
}

code, .codebg {
  background-color: ##375180;
}

h1 {
  width: 90vw;
  background-color: #2E384A;
  /* padding: 14px; */
  /*border-width: 6px;*/
  border-color: #2E384A;
/*  border-style: solid;*/
}

h2.banner {
  background-color: #2E384A;
}

.postarea {
  width: 90vw;
  /* padding: 14px;
  border-width: 6px; */
  /* border-color: #404040; */
  border-color: #2E384A;
  /* border-style: solid; */
  background-color: #2E384A;
}

.postarea img {
  box-shadow: 5px 5px 4px 0px #1E2530;
}

.navbar a, .blerg_navright a, .blerg_navleft a, .menu_left a, .menu_right > a, .menu_right > span {
  border-color: #4e5c75;
  background-color: #2e384a;
}

a {
  color: #00C4C4;
}

a:visited {
  color: #00C4C4;
}
