.velvet {
  display: none;
}

/* maybe change the body text color to the current blue link color,
   and the link color to a vivid rose? */

.navbox .navbar, .rightbox .menu_right {
  /* margin-top: 20px;*/
  margin-top: 3px;
}

.blerg_navleft, .blerg_navright, .menu_left, .menu_right {
  /* margin-left: 6px; */
  /* margin-right: 6px; */
  /* margin-bottom: 8px; */
  margin-right: 2px;
  margin-left: 2px;
}

.navbox {
  width: 95vw;
}

.menu_left, .blerg_navleft {
  margin-left: 28px;
}

.menu_left a, .blerg_navleft a, .menu_right a, .blerg_navright a{
  border-style: solid;
  border-left-width: 4px;
  border-right-width: 4px;
/*  border-bottom-width: 4px;
  border-top-width: 4px;*/
  border-color: #350026;
}

.menu_left a, .blerg_navleft a, .menu_right a, .blerg_navright a{
/*  border-left-color: #670f4d;
  border-top-color: #670f4d;*/
/*  border-top-color: #242329;
  border-left-color: #242329;*/
/*  border-bottom-color: #242329;
  border-right-color: #242329;*/
  border-left-color: #350026;
  border-right-color: #350026;
}

.menu_right, .blerg_navright {
  margin-right: 28px;
}

#toc a {
  color: #83B6DB;  
}

body {
  /*	Sparing peoples' eyes. */
  /* color: #dfdfdf; */
  /* color: #c7c7c7; */
  color: #adbdc1;
  /* color: #c2d4d9; */
  /* color: #dcdcdc; */
  background-color: #000021;
  background-image: url("/site/res/grid_blog_velvet.png");
/*  border-left: 10px solid #3E1B30;
  border-right: 10px solid #3E1B30;
  margin: 0px;*/
/*  background-color: #23313B;*/
}

h2,h3,h4,h5, .date-heading, .caption {
  /* color: #cfe2e8;*/
  /* color: #C2BAC3; */
  color: #DCD7E0;
}

.emphatic {
  color: #ff6666;
}

pre, code {
  background-color: #82005D;
}

/* .imgwrap, .block, .imgwrap img, .imgwrap a img */
.codewrap, .codewrap .block {
  background-color: #82005D;
  color: #d7d7d7;
}

code, .codebg {
  background-color: #82005D;
  color: #d7d7d7;
}

h1 {
  /* font-family: "Liberation Serif", "Times New Roman", serif;*/
  border-style: solid;
  padding: 14px;
  width: 90vw;
  border-width: 6px;
  /*border-color: #4A476D;*/
  /* border-color: #670f4d;*/
  /*border-color: #431D31;*/
  /* border-color: #324551; */
  /*color: #B9070B;*/
  color: #D43336;
  border-color: #670f4d;
  background-color: #24001A;
  /* background-color: #575E75;*/
  /* background-color: #25322D;*/
  /* background-color: #350026;*/
}

h2.banner {
  background-color: #282746;
}

.postarea {
  border-style: solid;
  padding: 14px;
  width: 90vw;
  border-width: 6px;
  /*  border-color: #324551;
  background-color: #282746;*/
  /* border-color: #4A476D;*/
  /*border-color: #33434E;*/
  border-color: #670f4d;
  background-color: #24001A;
}

.postarea img {
  box-shadow: 5px 5px 4px 0px #1a0012;
}

.navbar a, .blerg_navright a, .blerg_navleft a, .menu_left a, .menu_right > a, .menu_right > span {
  /* border-color: #49476D;*/
/*  border-color: #33434E;*/
  font-weight: normal;
  background-color: #24001A;
}
.navbar a, .navbar a:visited, .blerg_navleft a, .blerg_navright a, .blerg_navleft a:visited, .blerg_navright a:visited, .menu_left a, .menu_left a:visited, .menu_right > a, .menu_right > a:visited {
  color: #83B6DB;
}

a {
  /* font-weight: bold;*/
  /* color: #AE3182;*/
  /* color: #83B6DB; */
  /* color: #E48BCA; */
  color: #83B6DB;  
}

a:visited {
  /* font-weight: bold;*/
  /* color: #AE3182;*/
  /* color: #E48BCA;*/
  color: #83B6DB;
}
